{# https://www.smashingmagazine.com/2021/07/frontend-testing-pitfalls/ #}
<div data-audience="non-subscriber" data-remove="true" className="featured-cta-container">
  <span className="featured-cta__desc">More after jump! Continue reading below&nbsp;↓</span>
  <aside className="featured-cta">
    <div className="featured-cta-left-col">
      <div className="featured-cta-description">
        <p>
          Meet <strong><a data-instant href="/printed-books/typescript-in-50-lessons/">“TypeScript in 50 Lessons”</a></strong>, our shiny new guide to TypeScript. With detailed <strong>code walkthroughs</strong>, hands-on examples and common gotchas — all broken down into short, manageable lessons. For developers who know enough <strong>JavaScript</strong> to be dangerous.
        </p>
        <a
          data-instant
          href="/printed-books/typescript-in-50-lessons/"
          className="btn btn--green btn--large"
        >
          Jump to table of contents&nbsp;↬
        </a>
      </div>
    </div>
    <div className="featured-cta-right-col">
      <a
        data-instant
        href="/printed-books/typescript-in-50-lessons/"
        className="featured-cta-image-link"
      >
        <div className="featured-cta-image">
          <picture>
            <source
              type="image/avif"
              srcSet="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/2732dfe9-e1ee-41c3-871a-6252aeda741c/typescript-panel.avif"
            />
            <img
              loading="lazy"
              decoding="async"
              className="featured-cta-image-img"
              src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/c2f2c6d6-4e85-449a-99f5-58bd053bc846/typescript-shop-cover-opt.png"
              alt="Feature Panel"
              width={481}
              height={698}
            />
          </picture>
        </div>
      </a>
    </div>
  </aside>
</div>