---
title: 'About'
date: 2021-03-31
tags: site
permalink: /about/
layout: layouts/pages/about.njk
eleventyNavigation:
  key: about
  title: About
  order: 1
---
<h1>Successful Full Stack Development</h1>

I’m a Python developer, and run a development agency, Stochastic Technologies. We’re available for hire. Email me for more information.
Why choose me/my agency for your project?

    I will try to help you make your vision a reality. I have extensive experience in both the technical and the business side of a company, and I can help you with getting your company off the ground in all areas.
    I have more than ten years of experience in Python, and about half of that in creating and running businesses.
    I love development overall, and have gathered lots of relevant experience because of this (this site should provide ample evidence).
    My passion is creating things users will love, and engaging with people to improve the products.
    I build maintainable, scalable and extensible applications.

Experience

    I’m mainly a Python/Django developer, but, with Stochastic, we try to work with people from various backgrounds, especially the hard sciences.
    I have many years of experience of running products from a business perspective, and understand how businesses are run, from the market research to UI to support.

My work

    Since my list of projects is so long and varied, it exists in a few places. You can have a look at my personal résumé/GitHub profile or my company’s GitHub profile, but there are lots of other stuff that didn’t fit in either list.
    Mainly, my experience is in Python, mostly web development with Django, but I’ve taken a liking to Rust recently.
    Other parts of my professional self include interaction design, analytics and improving metrics, business development, etc.
    I’ve got a background in Machine Learning, which I got from my Masters course in the University College London.

My technology stack

    This section is a bit too large and general to list. My preferred stack is PostgreSQL, Redis, Django and nginx, but if it’s got something to do with web development and Python, I’ve probably worked with it.

My process

If you’re interested in in working with me, please be aware that my day rate is $2000. Below is a description of my development process and contracting guidelines. If you have any questions, please don’t hesitate to email me.

To me, developing a product is about solving a business need. Since you’re the person who knows the most about your business, I’d like to be in contact with you throughout the entire development process. I don’t find that being handed a spec and dropping off the radar for weeks to develops it leads to great results, so I’m not a fan of that approach.

The first thing I’d like to do is understand your requirements, market, budget and timeframe. We would then begin planning your project, both in terms of general user interactions and overall architecture, as I’ve found that the former greatly dictates the latter, but the latter usually constrains the former.

After the planning is done, I work with milestones to help deliver consistent, visible progress that’s easy to plan for.
My contracting guidelines

I’m only interested in remote work, at the moment. I work from my own office, and am always available by IM, email or phone.

I invoice every two weeks and invoices are expected to be paid within seven days. The first week is paid upfront as a deposit.

I do not work for projects on equity.
More about me

    I’m @stavros on Twitter, you can find me there, if you like.
    I’m also stavros on HN, if that’s where you frequent.
    I like receiving email from people.

If you need any development done (or just want to say hi), please do email me.

Thank you!

