/**
 * Grid breakpoints: defines the minimum and maximum dimensions at which the layout
 * will change, adapting to different screen sizes, for use in media queries.
 * These are Bootstrap breakpoints without `sx` (0) and `xxl` (1400px).
 * Quirk: REM in media queries it is always equal to the font size set in the
 * browser preferences, NOT the font-size set on the root element in CSS.
 * The values shown are assuming a 16px default browser setting on the root element.
 */
$breakpoints: (
  sm: 36rem, // 576px
  md: 48rem, // 768px
  lg: 62rem, // 992px
  xl: 75rem // 1200px
);
