/**
 * Typography variables: font, line-height, and color for body text, headings, etc.
 */

/** Base Sans Serif Font */
$font-family-sans-serif: 'Onest Regular', sans-serif;
/** Base Serif Font */
$font-family-serif: 'Lora Regular', serif;
/** Base Monospace Font */
$font-family-monospace: 'IBM Plex Mono Regular', monospace;

/**
 * font-size on <html> is set to  62.5% so that 1rem equals 10px at the default 16px
 * browser font size. The scaling factor restores it to the default for font sizes.
 */
$font-scaling-factor: 1.6;

/**
 * CSS variables used for sizes so that media queries are possible on them
 */
:root {
  /** Font sizes */
  --font-size-sm: #{0.875 * $font-scaling-factor}rem;
  --font-size-default: #{1 * $font-scaling-factor}rem;
  --font-size-lg: #{1.125 * $font-scaling-factor}rem;
  --font-size-xl: #{1.25 * $font-scaling-factor}rem;
  --font-size-2xl: #{1.375 * $font-scaling-factor}rem;
  --font-size-3xl: #{1.5 * $font-scaling-factor}rem;
  --font-size-4xl: #{2 * $font-scaling-factor}rem;
  --font-size-5xl: #{2.25 * $font-scaling-factor}rem;
  --font-size-6xl: #{2.5 * $font-scaling-factor}rem;
  --font-size-7xl: #{3 * $font-scaling-factor}rem;

  /** Font weights */
  --font-weight-normal: 400;
  --font-weight-heavy: 500;
  --font-weight-heavier: 600;
  --font-weight-bold: 700;

  /** Line heights */
  --line-height-sm: 1.25;
  --line-height-md: 1.4;
  --line-height-default: 1.625;

  /** Letter spacings */
  --letter-spacing-xs: 0.025em;
  --letter-spacing-sm: 0.05em;
  --letter-spacing-md: 0.1em;
  --letter-spacing-lg: 0.2em;

  --letter-spacing-negative-md: -0.1em;
}

@media (min-width: 56em) {
  :root {
    --font-size-xl: #{1.5 * $font-scaling-factor}rem;
    --font-size-2xl: #{2 * $font-scaling-factor}rem;
    --font-size-3xl: #{2.5 * $font-scaling-factor}rem;
    --font-size-4xl: #{3 * $font-scaling-factor}rem;
  }
}
