/**
 * Theme picker modal that slides in from top and sticks there
 */

.themepicker {
  background-color: var(--color-bg-offset);
  box-shadow: 0 1px 0 0 var(--color-bg);
  display: block;
  max-height: 0;
  overflow: hidden;
  position: relative; // for absolutely positioned close icon
  transition: max-height 0.4s $animation-curve-default;
  width: 100%;

  &.is-open {
    max-height: 14em;
  }

  /** H3 */
  &__title {
    font-family: $font-family-sans-serif;
    font-size: var(--font-size-default); // override, <h3> is set to 4xl in typography
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-sm);
    /** Close icon height and width plus doubled close button padding */
    line-height: 2 + (0.3 * 2);
    text-align: center;
    text-transform: uppercase;
  }

  /** UL */
  &__list {
    display: block;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0.1em;
    margin-top: 2.1em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em 1.5em 2em;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-border);
    }

    &::-webkit-scrollbar-track {
      background: var(--color-bg-offset);
    }
  }

  /** LI */
  &__item {
    display: inline-block;
    position: relative;
    border-radius: 0.5em;
    transform: scale(1);
    transition: transform 0.2s $animation-curve-default;

    & + & {
      margin-left: 1em;
    }

    &:hover {
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
      transform: scale(1.05);
      z-index: 1;
    }

    &.is-active {
      box-shadow: 0 0 0 2px var(--color-primary) !important;
      transform: scale(1);
      z-index: 1;
    }

    &.is-active::after {
      border-color: transparent transparent var(--color-primary) transparent;
      border-style: solid;
      border-width: 0 10px 12px 10px;
      content: '';
      display: block;
      height: 0;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translate(-50%, 1.25em);
      width: 0;
    }
  }

  /** Button wraps the theme item card */
  &__selectBtn {
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--color-bg);
    width: 100%;
    text-align: center;
    background-color: var(--color-bg);
  }

  /** Theme item name */
  &__name {
    display: block;
    color: var(--color-text);
  }

  /** Group of colors shown on the theme item card for the theme */
  &__palette {
    display: block;
    padding: 0.125em 0;
  }

  &__hue {
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--color-text);
    display: inline-block;
    height: 1.5em;
    overflow: hidden;
    text-align: left;
    text-indent: 100%;
    vertical-align: bottom;
    white-space: nowrap;
    width: 1.5em;

    &--primary {
      background-color: var(--color-primary);
    }

    &--secondary {
      background-color: var(--color-secondary);
    }

    &--border {
      background-color: var(--color-border);
    }

    &--textoffset {
      background-color: var(--color-text-offset);
    }
    &--text {
      background-color: var(--color-text);
    }

    & + & {
      margin-left: -0.3125em;
    }
  }

  /** Close button for the theme picker header modal */
  &__closeBtn {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-text);
    display: flex;
    padding: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.15s ease;

    &:hover,
    &:focus {
      background-color: var(--color-secondary-offset);
      color: var(--color-text);
    }

    /** SVG close icon element */
    .icon--close {
      height: 2em;
      width: 2em;
    }
  }
}
