---
title: Services
date: 2021-03-31
tags: site
permalink: /services/
layout: base
eleventyNavigation:
  key: Services
  order: 3
---
<div class="page page--blog">
  <header class="page__header">
    <h1 class="page__title">{{ title }}</h1>
  </header>

  <div class="page__content">
    {%- set servicelist = collections.services -%}
    <ol reversed class="articlelist" start="{{ servicelist.length }}">
      {% for service in servicelist | reverse %}
        <li class="articlelist__item h-entry {% if service.data.draft %}articlelist__item--draft{% endif %}">
          <h2 class="articlelist__title p-name">
            <a
              href="{{ service.url | url }}"
              class="articlelist__link u-url"
              rel="bookmark"
            >
              {{ service.data.title }}
            </a>
          </h2>

          <div class="articlelist__meta">
            <time class="articlelist__date dt-published" datetime="{{ service.date | dateToISO }}">
              {{ service.date | readableDate }}
            </time>

            {% if service.data.tags %}
              <span aria-hidden="true">&sdot;</span>
              <span class="articlelist__tags p-category">
                {{ service.data.tags|join(', ') }}
              </span>
            {% endif %}

            {% if service.data.draft %}
              <span aria-hidden="true">&sdot;</span>
              <span class="articlelist__status">(Draft)</span>
            {% endif %}
          </div>

          <p class="articlelist__excerpt p-summary">
            {% if service.data.description %}
              {{ service.data.description }}
              {% set hasDescription = true %}
            {% endif %}
            {%- if service.data.page.excerpt and (hasDescription !== true) -%}
              {% renderTemplate "md" %}
                {{ service.data.page.excerpt }}
              {% endrenderTemplate %}
              {% set hasExcerpt = true %}
            {%- endif -%}
            {%- if (hasExcerpt !== true) and (hasDescription !== true) -%}
              <p>Should throw an error, if reached here it's because the page has no description set in the front matter and no excerpt separator set in the content body.</p>
            {%- endif -%}
          </p>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
