.content {
  @include body-text();

  /* Vertical rhythm */
  > * {
    margin-bottom: 2rem;
  }

  a {
    @include hyphenate;
  }

  /* In-Text Links */
  p, li, blockquote {
    a:not(.btn) {
      border-bottom: 1px solid currentColor;
      box-shadow: inset 0 -2px 0 0 currentColor;

      &:hover,
      &:focus {
        border-bottom-color: var(--color-primary);
        box-shadow: inset 0 -1.25em 0 0 var(--color-primary);
        color: var(--color-text);
        outline: none;
      }
    }
  }

  /* Images */
  img, video {
    color: var(--color-text-offset);
    display: block;
    font-style: italic;
    height: auto;
    margin: 0 auto 2rem;
    max-width: 100%;
    text-align: center;
  }

  figure {
    margin: 2rem auto;
    max-width: none;
    text-align: center;

    img {
      margin-bottom: 0;
    }
  }

  figcaption {
    font-size: 1rem;
    font-style: italic;
    padding-top: 0.75rem;
  }

  /* Video */
  video {
    height: auto;
    max-width: 100%;
  }

  /* Rules */
  hr {
    background-color: var(--color-border);
    border: 0px solid var(--color-border);
    height: 1px;
    margin: 4rem auto;
    text-align: center;
    width: 240px;
  }

  /* Headings */
  h2, h3, h4 {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    position: relative;

    &:first-child {
      margin-top: 0;
    }
    &:hover,
    &:focus {
      > .heading-anchor {
        opacity: 0.75;
      }
    }
  }

  /* Lists */
  ul, ol {
    list-style-position: outside;
    padding-left: 1em;

    li:not(:last-child) {
      margin-bottom: 0.25em;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    border-left: 3px solid var(--color-secondary);
    margin: 2rem 0 2rem -35px;
    padding-left: 35px;
  }

  mark {
    background-color: var(--color-border);
    color: var(--color-text);
  }

  /* Code blocks */
  pre[class*='language-'] {
    display: block;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    overflow-x: auto;

    .post & {
      margin: 2rem calc(50% - 50vw);
    }
    .note & {
      border-radius: 0.5rem;
    }

    > code {
      @include container-narrow;
      display: block;
    }

    @include media-query-mobile-first(lg) {
      padding: 2rem 3rem;
    }
    @media screen and (min-width: 1040px) {
      .post & {
        border-radius: $border-radius * 2;
        margin-left: -180px;
        margin-right: -180px;
      }
    }
  }

  /* Inline code */
  :not(pre) > code {
    background-color: var(--color-bg-offset);
    border-radius: $border-radius;
    border: 1px solid var(--color-border);
    display: inline-block;
    font-family: $font-family-monospace;
    font-size: 75%;
    margin: 0 2px;
    padding: 2px 4px;
  }
}

/* Basic embedded Tweet styles before the JS is loaded */
.twitter-tweet {
  border-color: var(--color-bg-offset);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: var(--font-size-sm);
  font-weight: bold;
  line-height: var(--line-height-sm);
  margin: 0 auto 2rem;
  max-width: 550px;
  padding: 1rem;

  p {
    font-size: var(--font-size-lg);
    font-weight: normal;
    line-height: var(--line-height-md);
    margin-bottom: 1rem;
  }

  a {
    color: var(--twitter-brand-primary);
    box-shadow: none;
    border: none;

    &:hover,
    &:focus {
      box-shadow: none;
      color: var(--twitter-brand-primary);
      text-decoration: underline;
    }
  }
}

/* iFrame container for use on Markdown pages */
.embed {
  height: 0;
  position: relative;

  &--16-9 {
    padding-bottom: 56.25% !important;
  }

  &--4-3 {
    padding-bottom: 75% !important;
  }

  video, iframe {
    @include coverall;
    height: 100%;
    width: 100% !important;
  }
}

/**
  * Usage of .extend class:
  *
  * <div class="extend">
  *   <video width="960" style="margin:0 auto; border: 1px solid red;" preload controls>
  *     <source src="https://res.cloudinary.com/bookstore_nnn2vr.webm" type="video/webm" />
  *     <source src="https://res.cloudinary.com/bookstore_kkpxmt.mp4" type="video/mp4" />
  *   </video>
  * </div>
  *
  * <figure class="extend">
  *   <img src="https://example.com/grid.png" style="border: 1px solid red;" alt="layout schema">
  * </figure>
  */
.extend {
  @include media-query-mobile-first(lg) {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

/** Used in a nested anchor header generated by `markdown-it-anchor` plugin */
.heading-anchor {
  display: none;
  left: -1em;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1em;

  &:hover,
  &:focus {
    opacity: 1 !important;
  }

  @include media-query-mobile-first(md) {
    display: block;
  }
}

/** Box shadow for signup form on Markdown pages */
.signup {
  box-shadow: 14px 14px 30px -10px rgba(0, 0, 0, 0.1);
}
