/**
 * Typography: font, line-height, and color for body text, headings, and more.
 */

$font-size-root: 100%;
$font-size-base: 1rem;
$line-height: 1.625;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Noe Display', Georgia, Times, serif;
$font-family-monospace: 'Fira Code', Menlo, Monaco, Consolas, 'Andale Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

@font-face {
  font-display: swap;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: normal;
  src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
    url("../fonts/baloo-2-v1-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
    url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
}
