/**
 * Fonts
 */
 $fontDisplay: swap;

@font-face {
  font-display: $fontDisplay;
  font-family: "Onest Regular";
  font-style: normal; // or 'italic'
  font-weight: normal;
  src:
    // local() specifies names the font might be cached by on client
    local("Onest Regular"), local("OnestRegular1602-hint"),
    // backup to load font from if its not cached
    url("../fonts/OnestRegular1602-hint.woff2") format("woff2");
}

@font-face {
  font-display: $fontDisplay;
  font-family: "Lora Regular";
  font-style: normal;
  font-weight: normal;
  src:
    // local() specifies names the font might be cached by on client
    local("Lora Regular"), local("Lora-Regular"),
    // backup to load font from if its not cached
    url("../fonts/Lora-Regular.woff2") format("woff2");
}

@font-face {
  font-display: $fontDisplay;
  font-family: "IBM Plex Mono Regular";
  font-style: normal;
  font-weight: normal;
  src:
    // local() specifies names the font might be cached by on client
    local("IBM Plex Mono Regular"), local("IBMPlexMono-Regular"),
    // backup to load font from if its not cached
    url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
}
