/**
 * The page layout is used to provide <article> element with header and content areas
 * for pages that do not extend 'base.njk' directly, generally simpler or Markdown templates
 * for single pages instead of major content areas. Used as 'layout' for '404.njk', 'offline.jk',
 * 'privacy.md', 'cookies.md', and 'index.njk' for 'about' and 'contact' pages.
 */

.page {
  &__header {
    padding: 2rem 0;
  }
  &__subtitle {
    @extend .lead;
  }
  &__content {
    @include container-narrow;
    padding-bottom: 2rem;

    &--fullwidth {
      max-width: none;
    }
  }

  @include media-query-mobile-first(md) {
    &__header {
      padding: 4rem 0;
      text-align: center;
    }
    &__title {
      font-size: 5rem;
      letter-spacing: -2px;
    }
    &__content {
      padding-bottom: 4rem;
    }
  }

  @include media-query-mobile-first(lg) {
    &__header {
      padding: 5rem 0;
    }
    &__title {
      font-size: 7rem;
    }
  }
}
