@media print {
  body {
    margin: 0 0.6cm 0 0.6cm;
    padding: 3mm 0;
  }

  body {
    color: #222;
  }

  img::after,
  img::before {
    display: none !important;
  }

  body::after {
    content: ' ';
    //background:
    visibility: hidden;
    height: 0;
    clear: both;
  }

  .featured-cta {
    display: none;
  }

  body {
    display: block;
  }

  a[href] {
    text-decoration: underline !important;
  }

  a {
    text-shadow: none !important;
    background: 0 0 !important;
  }
}

@media print {
  .layout {
    background-color: white !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important; // page containing everything will get margin
    /** Display links for print with the URL in parentheses */
    a:after {
      content: "("attr(href)")" !important;
    }

    .header, .footer {
      display: none;
    }
  }
}

/** Applied to individual printed pages */
@page {
  margin: 2cm;
}
