/**
 * This is for the Window Controls Overlay API, gives Progressive Web Apps installed
 * on desktop operating systems the ability to hide the default window title bar and
 * display their own content over the full surface area of the app window, turning
 * the control buttons (maximize, minimize, and close) into an overlay. Display mode
 * is set to `window-controls-overlay` in webmanifest file.
 */
.titlebar {
  background-color: var(--color-bg-offset);
  height: env(titlebar-area-height, 0);
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: getZIndexValue('titlebar');

  &__inner {
    -webkit-app-region: drag;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    height: 100%;
    left: env(titlebar-area-x, 0);
    position: absolute;
    width: env(titlebar-area-width, 100%);
  }
}

/**
 * Layout <div> element with role `document` that wraps `header`, `main`, and `footer`.
 * Defined in layout/_base.scss
 */
.layout {
  /** Set from user-agent defined environment variable */
  padding-top: env(titlebar-area-height, 0);
}
