/**
 * Alignment utility classes
 */
.u-align-center {
  text-align: center !important;
}
.u-align-right {
  text-align: right !important;
}
.u-align-middle {
  align-items: center;
  display: inline-flex;
}

// ./REMOVE/src/includes/footer.njk
.u-desktop-only {
  display: none;
  @include mq(xl) {
    display: block;
  }
}

// ./REMOVE/src/pages/index.njk
.u-mb4 {
  margin-bottom: 4rem !important;
}

// ./REMOVE/src/layouts/post.njk
.u-mr2 {
  margin-right: 2rem !important;
}
