{# Partial for the Hero module at the top on home page #}
<div class="hero">
  <h1 class="hero__title">Kevin Brown</h1>
  <span class="hero__pretitle">This is the pretitle</span>
  <div class="hero__content">
    This is hero content
    <span class="hero__link">This is hero link</span>
  </div>
</div>
