{# Partial for the Hero module at the top on home page #}
<section class="hero">
  <div class="hero__inner">
    <span class="hero__pretitle">Client-Focused Web Application Developer</span>
    <h1 class="hero__title"></h1>
    <div class="hero__content">
      <div class="hero__cta_badge">Up to:</div>
      <ul class="hero__cta_list">
        <li class="hero__cta_points">
          <span class="hero__icon">
            {% icon "check" %}
          </span>
          <span class="hero__cta_lead"><strong>57%</strong> increase in sales;</span>
        </li>
        <li class="hero__cta_points">
          <span class="hero__cta_icon">
            {% icon "check" %}
          </span>
          <span class="hero__lead"><strong>$114</strong> ROI for every $1;</span>
        </li>
        <li class="hero__cta_points">
          <span class="hero__cta_icon">
            {% icon "check" %}
          </span>
          <span class="hero__lead">Upto <strong>400%</strong> conversion.</span>
        </li>
      </ul>
    </div>
    <a class="hero__link" href="/services/replace-me">
      Improve Your Product
    </a>
    <a class="hero__link" href="/services/replace-me">
      Start from scratch
    </a>
  </div>
  <div class="hero__image">
    {% include '../images/hero.svg' %}
  </div>
</section>