{% set otherarticles = collections.articles | excludeItemFromCollection(page) | slice(-10) %}
<ol class="otherposts">
  {% for article in otherarticles | reverse %}
    <li class="otherposts__item">
      <a href="{{ article.url | url }}" class="otherposts__link">
        <span class="otherposts__title">{{ article.data.title }}</span>
        <time class="otherposts__date" datetime="{{ article.date | dateToISO }}" aria-label=", written {{ article.date | readableDate('dd LLL yyyy') }}">
          {{ article.date | readableDate('dd LLL yyyy') }}
        </time>
      </a>
    </li>
  {% endfor %}
</ol>
