{# This is the home page module for testimonials #}
<h1>Testimonial</h1>
<ul>
{% for testimonial in collections.testimonials %}
  <li>
    <div>{{ testimonial.name }}</div>
    <div>{{ testimonial.organization }}</div>
    {% set alt = ["Photo of ", testimonial.data.author.name] | join %}
    {% asyncImageHandler testimonial.data.author.avatar, alt %}
    <p>{{ testimonial.templateContent }}</p>
  </li>
{% endfor %}
</ul>