{# This is the home page module for testimonials #}
<h1>Testimonial</h1>
<ul>
{% for testimonial in collections.testimonials %}
  <li>
    <div>{{ testimonial.data.name }}</div>
    <div>{{ testimonial.data.organization }}</div>
    {{ testimonial.templateContent | safe }}
    {% set src = ["avatars/", testimonial.data.avatar] | join %}
    {% set alt = ["Photo of ", testimonial.data.name] | join %}
    {% asyncImageHandler src, alt %}
    <br />
  </li>
{% endfor %}
</ul>