/**
  * `Other Services We Offer` section for use on pages.
  */
.other-services {
  /** Item wrapper <li> element */
  &__item {
    align-items: center;
    color: var(--color-text-offset);
    display: flex;

    &:hover,
    &:focus {
      color: var(--color-text);
    }

    .icon {
      display: block;
      margin-right: 0.1875em;
    }
  }

  &__date {
    //
  }

  &__item-excerpt {
    //
  }

  &__item-time-to-read {
    //
  }

  @include media-query-mobile-first(md) {
    padding: 3rem 0;
  }
}
