---
layout: layouts/base.njk
---
<article
  id="{{ title | slug }}"
  class="articlelist"
  itemscope
  itemtype="http://schema.org/BlogPosting"
  aria-labelledby="{{ title | slug }}-title"
>
  {#- "Articles" Header -#}
  <header class="articlelist__header">
    <h1 itemprop="headline">{{ title }}</h1>
  </header>
  {%- set articlelist = collections.articles -%}
  <ol
    class="articlelist__list"
    itemtype="http://schema.org/BlogPosting"
    reversed
    start="{{ articlelist.length }}"
  >
    {% for post in articlelist | reverse %}
      <li class="articlelist__item">
        {#- Article Title -#}
        <h2 class="articlelist__item-title" itemprop="headline">
          <a
            href="{{ post.url | url }}"
            class="articlelist__item-link"
            rel="bookmark"
          >
            {{ post.data.title }}
          </a>
        </h2>
        {#- Article Meta Data Wrapper -#}
        <div class="articlelist__item-meta">
          {#- Article Date -#}
          <time
            class="articlelist__item-date"
            datetime="{{ post.date | dateToISO }}"
            itemprop="datePublished"
          >
            {{ post.date | readableDate }}
          </time>
          {#- Article Tags -#}
          {% if post.data.tags %}
            <span aria-hidden="true">&sdot;</span>
            <span class="articlelist__item-tags" itemprop="keywords">
              {{ post.data.tags | join(', ') }}
            </span>
          {% endif %}
          {#- Article Draft Status -#}
          {% if post.data.draft %}
            <span aria-hidden="true">&sdot;</span>
            <span class="articlelist__item-status" itemprop="creativeWorkStatus">(Draft)</span>
          {% endif %}
        </div>
        {#- Article Excerpt -#}
        <p class="articlelist__item-excerpt" itemprop="abstract">
          {#- Article Description. Use when the description doesn't make sense as -#}
          {#- a continuation in main content using the <!-- excerpt --> separator -#}
          {% if post.data.description %}
            {{ post.data.description }}
          {#- Article Excerpt. Specify by using the <!-- excerpt --> separator below   -#}
          {#- the excerpt text. Provides lead text text on the article item view page. -#}
          {%- elseif post.data.page.excerpt and (post.data.description !== true) -%}
            {% set pageData = post.data.page %}
            {% renderTemplate "njk,md", pageData %}
{#- Markdown-processed content must be left justified in template -#}
{{ excerpt }}
            {% endrenderTemplate %}
          {%- else -%}
            <p>Should throw an error, if reached here it's because the page has no description set in the front matter and no excerpt separator set in the content body.</p>
          {%- endif -%}
        </p>
        {#- Article Time To Read -#}
        <p class="articlelist__item-time-to-read" itemprop="wordCount">
          It will take {{ post.templateContent | timeToRead }} to read this
        </p>
      </li>
    {% endfor %}
  </ol>
</article>