---
layout: layouts/base.njk
---
<article
  id="service"
  class="service"
  itemscope
  itemtype="http://schema.org/Service"
  aria-labelledby="service-title"
>
  <header class="service__header">
    {#- Article Cover Image -#}
    {% if not alt %}
      {% set alt = ['Cover image for article ', title] | join %}
    {% endif %}
    <div class="service__cover-image" itemtype="image">
      {% asyncImageHandler cover, alt %}
    </div>
    {#- Article Title -#}
    <h1
      id="service-title"
      class="service__title"
      itemprop="headline"
    >
      {{ title }}
    </h1>
  </header>
  {#- Article Content -#}
  <div class="service__content content" itemprop="articleBody">
    {{ content | safe }}
  </div>
  {#- Article Other Articles Card -#}
  <div class="service__suggested">
    <h3 class="service__suggested__title">Other work we do</h3>
    {% include '../../modules/suggestedServices.njk' %}
  </div>
  {#- Article Footer wrapper -#}
  <footer class="service__footer">
    <span>Some footer content</span>
  </footer>
</article>