.bookmarklet {
  background-color: rgba(#43a9a3, 0.25);
  border-radius: 0.25rem;
  border: 1px solid #43a9a3 !important;
  box-shadow: none !important;
  color: #43a9a3;
  cursor: grab;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;

  &:active {
    cursor: grabbing;
    cursor: grabbing;
  }
}
