/** Used by the 'callout' paired shortcode */
.callout {
    --callout-color: currentColor;

    background-color: var(--color-bg-offset);
    border-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--color-border);
    position: relative;

    &__icon {
      background-color: var(--color-bg);
      border-radius: 50%;
      color: var(--callout-color);
      left: 0;
      margin-left: 2px;
      padding: 0.25rem;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
    }
    &__content {
      border-left: 4px solid var(--callout-color);
      padding: 1rem;

      > * + * {
        margin-top: 2rem;
      }

      @include media-query-mobile-first(md) {
        padding-left: 2rem;
      }
    }

    &--warning,
    &--action {
      --callout-color: var(--color-primary);
    }
    &--tip,
    &--info {
      --callout-color: var(--color-secondary);
    }
}
