$logo-height: 86.394562px;
$logo-width: 88.360085px;
$logo-scale-full: 100%;

.header {
  // flex alignment items
  align-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__brand {
    //
  }

  &__brand-anchor {
    align-items: center;
    color: var(--text-color);
    display: flex;
    .logo {
      height: calc(#{$logo-height} * #{$logo-scale-full});
      width: calc(#{$logo-width} * #{$logo-scale-full});
    }
  }

  &__brand-name {
    font-weight: 700;
  }

  &__themepicker-icon {
    margin-right: 1rem;
  }

  &__main-nav {
    align-items: center;
  }

  @include media-query-mobile-first(md) {
    padding: .5rem;
  }
}
