.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  &__brand {
    align-items: center;
    color: var(--text-color);
    display: flex;
  }

  &__text {
    font-weight: 700;
  }

  &__nav {
    align-items: center;
    display: flex;
  }

  // Theme Button
  &__themebtn {
    display: none;
    margin-right: 1rem;
    order: -1;

    @supports (color: var(--fake-var)) {
      display: flex;
    }
    @include mq(md) {
      margin-right: 2rem;
    }
    @include mq(lg) {
      margin-left: 1rem;
      margin-right: 0;
      order: initial;
    }
  }

  @include mq(md) {
    padding: 3.125rem 0;
  }
}
