.signup {
  border-radius: 0.5rem;
  max-width: 700px;
  position: relative;

  .spinner {
    display: none;
  }

  @include mq(md) {
    font-size: 1.125rem;
  }

  &__front, &__back {
    background-color: var(--color-bg-offset);
    border-radius: 0.5rem;
    border: 2px solid var(--color-border);
    padding: 2rem;
  }

  &__front {
    position: relative;
    z-index: 1;
  }

  &__back {
    @include coverall;
    visibility: hidden;
    z-index: 0;

    @include mq(md) {
      padding-right: calc(40% + 2rem);

      &::after {
        @include coverall;
        background-size: cover;
        border-radius: 0 0.5rem 0.5rem 0;
        content: '';
        display: block;
        left: 60%;
        overflow: hidden;
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__desc {
    margin-bottom: 2rem;

    > * + * {
      margin-top: 1rem;
    }
  }

  &__icon {
    color: $danger;
    font-size: 2rem;
    left: -1.5rem;
    opacity: 0;
    position: absolute;
    top: 1.25rem;
    transform: scale(0);
    transition: all 0.2s $animation-curve-default;
    z-index: 2;
  }
}

.signup--loading {
  .spinner {
    display: inline-block;
  }
}

.signup--success {
  .signup__front {
    visibility: hidden;
    z-index: 0;
  }
  .signup__back {
    visibility: visible;
    z-index: 1;
  }
  .signup__icon {
    opacity: 1;
    transform: scale(1);
  }

  @include mq(md) {
    .signup__back::after {
      @include invert-on-dark();
      background: #fff url('/assets/images/confetti.gif') no-repeat 0 0;
    }
  }
}
