/**
 * Stylings for Service Item
 */
.case-study {
  /** Wrapper class over title, meta, Date, Time to Read, and Draft Status */
  &__header {
    padding: 2em 0;
  }

  &__cover-image {
    //
  }

  &__title {
    //
  }

  /** Main article content section */
  &__content {
    //
  }

  /** Article-specific footer section */
  &__footer {
    //
  }

  /** Wrapper <div> for "Other Case Studies" section */
  &__suggested {
    border-top: 1px solid var(--color-border);
    padding: 2em 0;
  }

  /** Title for "Other Case Studies" section */
  &__suggested__title {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  /** Overrides for the `Other Case Studies` section */
  .suggested-case-studies {
    //
  }
}


@include media-query-min-width(md) {
  .case-study {
    &__header {
      padding: 4em 0;
      text-align: center;
    }
  }
}

@include media-query-min-width(lg) {
  .case-study {
    &__header {
      padding: 5em 0;
    }
  }
}
