.case-studies {
  /** <header> wrapper over "Articles" <h1> header */
  &__header {
    //
  }

  &__item {
      margin-bottom: 3rem;
  }

  &__item-excerpt {
    /** SCSS to select the item-excerpt class only when a child of item--draft class. */
    .articlelist__item--draft & {
      opacity: 0.5;
    }
  }

  &__item-link {
    display: block;

    .articlelist__item--draft & {
      color: var(--color-secondary);
    }
  }

  &__item-title {
    margin-bottom: 0;
  }
}

@include media-query-min-width(md) {
  .case-studies {
    &__item {
      margin-bottom: 5em;
    }
  }
}
