<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "./components/head/meta.njk" %}
    <link rel="preload" href="{{ '/fonts/baloo-2-v1-latin-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
  </head>
  <body>
    <a href="#main" class="sr-skip-link">skip to main content</a>
    {% include "./components/titlebar.njk" %}

    <div class="layout" role="document">
      {% include "./components/header.njk" %}

      <main class="main container" role="main" id="main" tabindex="-1">
        {{ content | safe }}
      </main>

      {% include "./components/footer.njk" %}
    </div>

    <script src="{{ '/js/index.js' | url }}?{{ cacheBust.mainJs }}" defer></script>
  </body>
</html>
