---
layout: layouts/base.njk
---
<article
  id="about"
  class="about"
  itemscope
  itemtype="http://schema.org/AboutPage"
  aria-labelledby="about-title"
>
  <header class="about__header">
    <h1
      id="about-title"
      class="about__title"
      itemprop="headline"
    >
      {{ title }}
    </h1>
    <p class="about__subtitle">Some subtitle about me</p>
  </header>
  <div class="about__author-avatar">
    {% asyncImageHandler author.avatar, "Site author's avatar image" %}
  </div>
  <div class="about__content content">
    {{ content | safe }}
  </div>
</article>