---
layout: layouts/base.njk
---
<article
  id="contact"
  class="contact"
  itemscope
  itemtype="http://schema.org/ContactPage"
  aria-labelledby="contact-title"
>
  <header class="contact__header">
    <h1
      id="contact-title"
      class="contact__title"
      itemprop="headline"
    >
      Contact Us
    </h1>
    <p class="contact__subtitle">Happy to hear from you! Please drop us a few words about you and your project</p>
  </header>
  <div class="contact__body">
    <form id="contact-form" class="form-layout contact">
      <div class="form-layout__header">Tell us about your project:</div>

      <div class="form-unit form-unit-full-width">
        <div class="field-animate-group">
          <div class="error-validation__info" data-id="leadFormNameError"></div>
          <div>
            <label for="name">Your Name *</label>
            <input id="name" name="name" type="text" label="Your Name *" data-id="leadFormName" value="">
          </div>
        </div>
      </div>

      <div class="form-unit">

        <div class="field-animate-group">
            <div class="error-validation__info" data-id="leadFormEmailError"></div>
            <div>
              <label for="email">E-mail *</label>
              <input id="email" name="email" type="text" label="E-mail *" data-id="leadFormEmail" value="">
            </div>
          </div>
          <div class="field-animate-group">
            <div class="error-validation__info" data-id="leadFormPhoneError"></div>
            <div>
              <label for="phone">Phone Number</label>
              <input id="phone" name="phone" label="Phone Number" type="tel" data-id="leadFormPhone" value="">
            </div>
          </div>
        </div>

        <div class="form-unit">
          <div class="field-animate-group">
            <div class="error-validation__info" data-id="leadFormSelectSourceError"></div>

            <div>
              <icon title="angle-arrow">
              <label for="leadsource">How did you hear about us? *</label>
              <select id="leadsource" data-id="leadFormSelectSource" name="leadsource" label="How did you hear about us? *">
                <option aria-label="empty" style="display: none;"></option>
                <option aria-label="clutch">clutch</option>
                <option aria-label="linkedin">linkedin</option>
                <option aria-label="quora">quora</option>
                <option aria-label="google search">google search</option>
                <option aria-label="facebook">facebook</option>
                <option aria-label="dev.to">dev.to</option>
                <option aria-label="medium">medium</option>
                <option aria-label="from a friend">from a friend</option>
                <option aria-label="other">other</option>
              </select>
            </div>
          </div>

          <div class="field-animate-group">
            <div class="error-validation__info" data-id="leadFormSelectBudgetError"></div>
            <div>
              <icon title="angle-arrow">
            <label for="budget">What is your budget? *</label>
            <select id="budget" data-id="leadFormSelectBudget" name="budget" label="What is your budget? *">
              <option aria-label="empty" style="display: none;"></option>
              <option aria-label="$25 000 - $50 000">$25 000 - $50 000</option>
              <option aria-label="$50 000 - $100 000">$50 000 - $100 000</option>
              <option aria-label="Over $100 000">Over $100 000</option>
              <option aria-label="Can't disclose / Not sure">Can't disclose / Not sure</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-unit">
        <textarea name="message" placeholder="Project description" data-id="leadFormMessage"></textarea>
      </div>

      <div class="form-unit form-unit-full-width">
        <div class="checkbox-container">
          <label for="custom-chekbox" class="checkbox-label" data-id="leadFormCheckbox">
            <input id="custom-chekbox" type="checkbox" name="checkbox_subscribe" value="true" checked="">
            <span class="checkbox-custom"></span>
          </label>
          <div class="checkbox-container__text">Stay up to date with software development and design materials from Codica.</div>
        </div>
      </div>

      <div class="form-unit-bottom">
        <div class="form-unit d-block">
          <div class="dropzone" tabindex="0" data-id="leadFormAttach">
            <input multiple="" type="file" style="display: none;" autocomplete="off" tabindex="-1">
            <p>
              <span class="dropzone__img-text"><icon title="Paperclip">Attach files</span>
            </p>
          </div>
          <div id="dropzone-previews"></div>
        </div>
        <button id="contact-submit-btn" class="button red transition" type="submit" data-id="leadFormButton">Send message</button>
      </div>
    </form>
    </div>
    <div class="contact__content">
      <span class="contact__content__author-avatar">
        {% asyncImageHandler author.avatar, "Site author's avatar image" %}
      </span>
      <h3>What's next?</h3>
      <ol>
        <li>I'll be in touch with you within 1 business day.</li>
        <li>I'll sign the NDA if required, and start the project discussion.</li>
        <li>Our custom software development experts will analyze your requirements and suggest the best ways to bring your idea to life.</li>
      </ol>
    </div>
  </div>
</article>