---
layout: layouts/base.njk
---
<article
  id="cookies"
  class="cookies"
  itemscope
  itemtype="http://schema.org/WebPage"
  aria-labelledby="cookies-title"
>
  <header class="cookies__header">
    <h1
      id="cookies-title"
      class="cookies__title"
      itemprop="headline"
    >
      Cookies Policy
    </h1>
    <p class="cookies__subtitle">Some subtitle about our cookie policy</p>
  </header>
  <div class="cookies__content content">
    {{ content | safe }}
  </div>
</article>