---
layout: layouts/base.njk
---
<article
  id="offline"
  class="offline"
  itemscope
  itemtype="http://schema.org/WebPage"
  aria-labelledby="offline-title"
>
  <header class="offline__header">
    <h1
      id="offline-title"
      class="offline__title"
      itemprop="headline"
    >
      Offline
    </h1>
    <p class="offline__subtitle">You're currently not connected.</p>
  </header>
</article>