---
layout: layouts/base.njk
---
<article
  id="privacy"
  class="privacy"
  itemscope
  itemtype="http://schema.org/WebPage"
  aria-labelledby="privacy-title"
>
  <header class="privacy__header">
    <h1
      id="privacy-title"
      class="privacy__title"
      itemprop="headline"
    >
      Privacy Policy
    </h1>
    <p class="privacy__subtitle">Some subtitle about our privacy policy</p>
  </header>
  <div class="privacy__content content">
    {{ content | safe }}
  </div>
</article>