{#- Menu Toggle Button #}
{# IF THIS CHANGES update navigationHtml.ts fixture in navigation script folder #}
<button
  class="icon-btn nav-icon__toggle-btn"
  type="button"
  aria-expanded="false"
  aria-owns="main-nav"
  aria-label="toggle menu"
  aria-haspopup="true"
>
  <svg
    class="icon icon--menu"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 50 50"
  >
    <title>menu toggle</title>
    <g>
      <line class="nav-icon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
      <line class="nav-icon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
      <line class="nav-icon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
      <line class="nav-icon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
      <circle
        class="nav-icon__circle"
        r="23"
        cx="25"
        cy="25"
      />
    </g>
  </svg>
</button>