/**
 * Navigation menu in layout header
 */

/** <nav> element wrapping the main menu list */
.main-nav {
  /** <ul> element */
  &__menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // @TODO: This transition isn't working, the menu goes to full height and displays while the splash screen spreads out underneath it. The splash screen should cover the screen and then show the menu. Display is not an animatable property.
    //transition-delay: 3s;
    //transition-property: height;
    //height: 0;
    //transform: scale(0);
    //transition: transform 3s;
    /** will-change tells the browser we plan to animate this property in the near future */
    //will-change: transform;
  }

  /** <li> element */
  &__item {
    opacity: 0;
    //transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }

  /** Add animation for mobile that moves menu items into place on the splash screen */
  // @TODO: how should the elements move onto the splash screen?
  //@for $i from 1 through 5 {
  //  &__item:nth-child(#{$i}){
  //    transform: translateY(-40px * $i);
  //  }
  //}

  /** <a> element */
  &__link {
    color: var(--color-bg);
    display: block;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: 5px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      /** Color is set to --color-secondary in _reset.scss */
      color: var(--color-bg-offset);
      background-color: var(--color-primary);
      outline: 0;
    }
  }
}

/** Mobile menu open state, show the nav items */
#header.aria-expanded-true {
  .main-nav {
    /** <ul> element */
    &__menu {
      display: flex;
      height: 100vh;
      transform: scale(1);
    }

    /** <li> element */
    &__item {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/** Display navigation menu on desktop */
@include media-query-min-width(md) {
  .main-nav {
    /** <ul> */
    &__menu {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    /** <li> element */
    &__item {
      opacity: 1;
      position: relative;

      /** Underline style applied to <li> item */
      &::after {
        background-color: var(--color-border);
        bottom: -.25rem;
        content: '';
        display: block;
        height: .25rem;
        left: 1.25rem;
        position: absolute;
        right: 1.25rem;
        transform-origin: 0 50%;
        transform: scaleX(0);
        transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      }

      /** Underline on hover, extends in from left */
      &:hover::after {
        background-color: var(--color-primary);
        transform: scaleX(1);
      }

      /** Special style for current page active item */
      &--active::after {
        background-color: var(--color-primary-offset);
        transform: none;
      }

      &--active:hover::after {
        background-color: var(--color-primary);
      }
    }

    /** <a> with inner text */
    &__link {
      align-items: center;
      color: var(--color-primary-offset);
      display: flex;
      font-size: var(--font-size-lg);
      line-height: var(--line-height-lg);
      padding: 0.75rem 1.25rem;
      position: relative;
      text-decoration: none;
      text-transform: lowercase;
      transition: color 0.2s linear;
      white-space: nowrap;
      z-index: 1;

      &:hover,
      &:focus {
        background-color: inherit;
        color: var(--color-primary);
        font-size: var(--font-size-lg);
        text-transform: lowercase;
      }
    }
  }
}
