<button
  class="icon-btn themepicker-toggle__toggle-btn"
  type="button"
  aria-expanded="false"
  aria-owns="theme-menu"
  aria-label="toggle theme switcher"
  aria-haspopup="true"
>
  <svg
    viewBox="0 0 50 50"
    class="icon icon--theme"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>theme icon</title>
    <g>
      <path class="themepicker-toggle__path" d="M 31.6,15.4 V 14.2 C 31.6,13.54 31.06,13 30.4,13 H 16 c -0.66,0 -1.2,0.54 -1.2,1.2 V 19 c 0,0.66 0.54,1.2 1.2,1.2 h 14.4 c 0.66,0 1.2,-0.54 1.2,-1.2 v -1.2 h 1.2 v 4.8 h -12 v 13.2 c 0,0.66 0.54,1.2 1.2,1.2 h 2.4 c 0.66,0 1.2,-0.54 1.2,-1.2 V 25 h 9.6 v -9.6 z" />
      <circle
        class="themepicker-toggle__circle"
        r="23"
        cx="25"
        cy="25"
      />
    </g>
  </svg>
</button>