<div class="themepicker" data-nosnippet hidden>
  <ul id="theme-menu" class="themepicker__list">
  {%- for theme in themes %}
    <li class="themepicker__item">
      <button
        class="themepicker__selectBtn"
        aria-label="select color theme '{{ theme.name }}'"
        data-theme="{{ theme.id }}"
      >
        <span class="themepicker__name">{{ theme.name }}</span>
        <span class="themepicker__palette">
          <span class="themepicker__hue themepicker__hue--primary"></span>
          <span class="themepicker__hue themepicker__hue--secondary"></span>
          <span class="themepicker__hue themepicker__hue--border"></span>
          <span class="themepicker__hue themepicker__hue--textoffset"></span>
          <span class="themepicker__hue themepicker__hue--text"></span>
        </span>
      </button>
    </li>
  {%- endfor %}
  </ul>
  <button
    class="themepicker__closeBtn"
    type="button"
    aria-label="Close theme picker dialog"
  >
    {% icon "close" -%}
  </button>
</div>