---
title: RSS Feed Generator Script
permalink: '/feed.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ '/feed.xml' | absoluteUrl }}" rel="self" type="application/atom+xml" />
  <author>
    <name>{{ author.name }}</name>
    <email>{{ author.email }}</email>
  </author>

  {% if collections.articles %}
    <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
  {% endif %}

  <id>{{ baseUrl }}/</id>

  {%- for article in collections.articles | reverse -%}
    {%- set absolutePostUrl = article.url | absoluteUrl -%}
    <entry>
      <title>{{ article.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ article.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html" xmlLang="{{ site.lang }}">
        <![CDATA[{{ article.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}]]>
      </content>
    </entry>
  {%- endfor -%}
</feed>
