---
title: Site Manifest for PWA Installation
date: 2021-03-31
permalink: '/manifest.json'
eleventyExcludeFromCollections: true
---
{
  "lang": "{{ site.organization }}",
  "dir": "ltr",
  "name": "{{ site.organization }}",
  "short_name": "{{ site.name }}",
  "icons": [
    {
      "src": "/{{ buildPaths.manifestIconSmallFilename }}",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/{{ buildPaths.manifestIconLargeFilename }}",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "display_override": ["window-controls-overlay"],
  "theme_color": "#1a1a1a",
  "background_color": "#1a1a1a",
  "start_url": "/index.html",
  "display": "standalone",
  "orientation": "natural",
  "share_target": {
    "action": "/share/",
    "method": "GET",
    "enctype": "application/x-www-form-urlencoded",
    "params": {
      "title": "title",
      "text": "text",
      "url": "url"
    }
  }
}
