---
layout: layouts/base.njk
---
<article
  id="case-study"
  class="case-study"
  itemscope
  itemtype="http://schema.org/Review"
  aria-labelledby="case-study-title"
>
  <header class="case-study__header">
    {#- Service Cover Image -#}
    {% if not alt %}
      {% set alt = ['Cover image for case study ', title] | join %}
    {% endif %}
    <div class="case-study__cover-image" itemtype="image">
      {% asyncImageHandler cover, alt %}
    </div>
    {#- Service Title -#}
    <h1
      id="case-study-title"
      class="case-study__title"
      itemprop="headline"
    >
      {{ title }}
    </h1>
  </header>
  {#- Service Content -#}
  <div class="case-study__content content"  itemprop="articleBody">
    {{ content | safe }}
  </div>
  {#- Service Other Services Card -#}
  <div class="case-study__suggested">
    <h3 class="case-study__suggested__title">Other things I've written</h3>
    {% include '../../modules/suggestedCaseStudies.njk' %}
  </div>
  {#- Service Footer wrapper -#}
  <footer class="case-study__footer">
    <span>Some footer content</span>
  </footer>
</article>