@charset "UTF-8";
a:active,
a:hover {
  outline-width: 0;
}

strong {
  font-weight: bolder;
  letter-spacing: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@media all and (min-width: 1100px) {
  @supports (grid-row-gap: 0) {
  }
}

img {
  max-width: 100%;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection,
:selection {
  text-shadow: none;
  background: #b3d4fc;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

.btn:active,
.btn:focus,
.btn:hover {
  background: #d33a2c;
}

.btn--green:focus,
.btn--green:hover {
  background: #41b14f;
  color: #fff;
  border-color: #41b14f;
}

.btn--green:active,
.btn--green:focus {
  outline-offset: 3px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
}

a.btn {
  text-shadow: none;
}

.cart-wrapper ul > li::marker {
  color: transparent;
}

@supports (display: flex) {
}

@font-face {
  font-family: DinMedium;
  src: url(https://www.smashingmagazine.com/fonts/DinMedium.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.feature-panel-image-link::before {
  display: block;
  content: '';
  height: 90%;
  width: 160%;
  position: absolute;
  background-image: url(https://www.smashingmagazine.com/images/shadow.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  right: 0;
  transition: all 0.1s ease-out;
  transform-origin: 30% 50%;
  pointer-events: none;
  top: 85%;
  left: -33%;
}

.feature-panel-image-link:focus::before,
.feature-panel-image-link:hover::before {
  transform: scaleX(0);
  opacity: 0;
}

.feature-panel-image-link:focus .feature-panel-image,
.feature-panel-image-link:hover .feature-panel-image {
  transform: rotate(0);
}

.feature-panel-image img {
  height: auto;
  border-radius: 11px;
}

/* ---------------------------------------------------------------------
 * https://www.smashingmagazine.com/css/article-dark-mode-v3.css
 * ---------------------------------------------------------------------
 */

:root {
  --accent-primary-color: #6fd2ff;
  --accent-primary-decoration-color: #5e82ab;
  --accent-secondary-color: #f94962;
  --accent-secondary-decoration-color: #f94962;
  --accent-tertiary-color: #bdddff;
  --accent-tertiary-decoration-color: #94b3d2;
  --accent-tertiary-border-color: #1c313a;
  --accent-tertiary-hover-color: #000;
  --accent-tertiary-outline-color: #b1cae3;
  --accent-box-color: #19313c;
  --accent-table-color: #19313c;
  --article-background-color: linear-gradient(-45deg, #162c35 70%, #0c252f 100%);
  --rainbow-gradient: linear-gradient(
    -90deg,
    #adfbda 0,
    #35c3ff 30%,
    #fda399 50%,
    #76d880 70%,
    #ebf38b 90%,
    #adfbda 100%
  );
  --text-shadow-1px: 1px 1px 1px rgba(0, 0, 0, 0.25);
  --block-separator-color: #244654;
  --feature-panel-bg-color: #1c313a;
  --feature-panel-byline-color: #fff;
  --author-desc-color: #fff;
  --article-target-color: #283c50;
  --subnav-bg-color: #283c50;
  --subnav-border-color: #1c313a;
  --subnav-color: #bdddff;
  --subnav-more-button-color: #fff;
  --subnav-more-button-border: #2b455e;
  --article-summary-color: #fff;
  --article-body-color: #e5e5e5;
  --article-figcaption-color: #e5e5e5;
  --article-headings-color: #fff;
  --article-list-marker-color: #bdddff;
  --article-pullquote-color: #e5e5e5;
  --article-blockquote-color: #fff;
  --article-blockquote-border: #405c63;
  --article-blockquote-bg: linear-gradient(to bottom right, #254655 0, #112831 100%);
  --article-blockquote-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  --article-toolbar-bg: #267dcc;
  --article-toolbar-bg-hover: #267dcc;
  --article-toolbar-color: #fff;
  --article-toolbar-color-hover: #fff;
  --article-comments-color: #bddfff;
  --article-comments-header: #fff;
  --article-comments-bg-color: transparent;
  --article-comments-link-color: #6fd2ff;
  --article-comments-link-decoration-color: #6fd2ff;
  --article-selection-bg: #345171;
  --nl-box-desc-color: #fff;
  --headers-bg-color: #0c252f;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--article-body-color, #e5e5e5);
    background: var(--article-background-color, #162c35);
  }
  .feature-panel::before {
    border-bottom: 8px solid var(--block-separator-color, #244654);
    color: #fff;
  }
  .feature-panel {
    background: var(--feature-panel-bg-color, #1c313a);
  }
  ul > li::marker {
    color: var(--article-list-marker-color, #bdddff);
  }
  .feature-panel__desc {
    color: var(--feature-panel-byline-color, #fff);
  }
  a:active,
  a:focus {
    outline-color: var(--accent-tertiary-outline-color, #b1cae3) !important;
  }
  ::selection {
    background: var(--article-selection-bg, #345171);
  }
  ::-moz-selection {
    background: var(--article-selection-bg, #345171);
  }
}

/* ---------------------------------------------------------------------
 * https://www.smashingmagazine.com/css/print.css
 * ---------------------------------------------------------------------
 */

@charset "UTF-8";
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, system-ui, 'Open Sans',
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

aside {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

strong {
  font-weight: inherit;
}

strong {
  font-weight: bolder;
  letter-spacing: 0.25px;
}

img {
  border-style: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@media print {
  body {
    margin: 0 0.6cm 0 0.6cm;
    padding: 3mm 0;
  }
  body {
    color: #222;
  }
  img::after,
  img::before {
    display: none !important;
  }
  body::after {
    content: ' ';
    background: url(/images/smashing-cat/cat-felix-the-cat.svg), url(/images/icons/author.svg),
      url(/images/icons/tags.svg), url(/images/icons/published.svg);
    visibility: hidden;
    height: 0;
    clear: both;
  }
  .feature-panel {
    display: none;
  }
  body {
    display: block;
  }
  a[href] {
    text-decoration: underline !important;
  }
  a {
    text-shadow: none !important;
    background: 0 0 !important;
  }
}
