/**
 * Icon output from the shortcode:
 *
 * <svg class="icon icon--${iconName}" role="img" aria-hidden="true" width="24" height="24">
 *   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-${iconName}"></use>
 * </svg>
 */

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

/**
 * Centering class for use on <a> or <button> wrappers over the .icon
 * <svg> element. No stylings or :hover, :focus selectors added here.
 */
.icon-btn {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 3rem;

  .icon {
    margin: auto; // iOS Safari compat
  }
}
