.icon {
  fill: currentColor;
  font-size: var(--font-size-3xl);
  height: 1em;
  pointer-events: none;
  vertical-align: middle;
  width: 1em;
}


.icon-btn {
  align-items: center;
  background-color: transparent;
  background-color: var(--color-bg-offset);
  border-radius: 50%;
  border: 0;
  color: var(--color-text);
  height: 3rem;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 3rem;

  .icon {
    margin: auto; // iOS Safari compat
  }

  &:hover,
  &:focus {
    filter: brightness(0.95) saturate(140%);
  }
}
