/**
 * Container max width used in base, header, and footer
 */
$container-max-width: 75em; // 1200px at 16px font-size in main, header, and footer
$container-width--mobile: 90%;

/**
 * Layout <div> element with role `document` that wraps `header`, `main`,
 * and `footer`
 */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  transition: transform 0.3s $animation-curve-default;

  /**
   * Page <header> and <footer> are in a column flex-direction, so this keeps
   * them from expanding if the content area is too small to fill the page
   */
  .header, .footer {
    /** shorthand for all flex properties */
    flex: none;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
    width: $container-width--mobile;
  }

  /** <main> element wrapper for content */
  .main {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto; // grow, shrink, basis
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
    width: $container-width--mobile;
  }
}
