/**
 * SCSS with element selectors used for layout
 */

body {
  overflow-x: hidden;
  transition: color 0.15s, background-color 0.15s;

  @include media-query-desktop-first(lg) {
    &.no-scroll {
      height: 100vh;
      overflow: hidden;
    }
  }
}