---
description: Template using '@quasibit/eleventy-plugin-sitemap' provided shortcode to generate sitemap.xml
permalink: "{{ buildPaths.sitemapBuildFilename }}"
layout: null
eleventyExcludeFromCollections: true
---
{% sitemap collections.sitemap %}