/**
 * Stylings for Article Item
 */
.article {
  /** Wrapper class over title, meta, Date, Time to Read, and Draft Status */
  &__header {
    padding: 2rem 0;
  }

  &__cover-image {
    //
  }

  &__date {
    display: block;
  }

  &__meta {
    align-items: center;
    color: var(--color-text-offset);
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-default);
    margin: 1rem 0;

    @include media-query-mobile-first(md) {
      font-size: var(--font-size-xl);
      justify-content: center;
    }
  }

  &__status {
    color: var(--color-secondary);
    font-weight: 700;
  }

  &__tags {
    font-family: $font-family-serif;
    letter-spacing: var(--letter-spacing-lg);
    text-transform: uppercase;
  }

  &__time-to-read {
    //
  }

  &__title {
    font-size: var(--font-size-7xl);
    letter-spacing: -var(--letter-spacing-negative-md);
    @include media-query-mobile-first(lg) {
      font-size: var(--font-size-7xl);
    }
  }

  @include media-query-mobile-first(md) {
    &__header {
      padding: 4rem 0;
      text-align: center;
    }
  }

  @include media-query-mobile-first(lg) {
    &__header {
      padding: 5rem 0;
    }
  }

  /** Main article content section */
  &__content {
    @include container-narrow;
  }

  /** Article-specific footer section */
  &__footer {
    @include container-narrow;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem auto;
  }

    /** Article author avatar and name */
  &__author-card {
    //
  }

  &__author-avatar {
    //
  }

  /** "Published in" Tags list */
  &__info {
    color: var(--color-text-offset);
    font-style: italic;
    margin: 1rem 0;
  }

  /** Wrapper <div> for `Other Things I've Written` section */
  &__suggested {
    border-top: 1px solid var(--color-border);
    padding: 2rem 0;
  }

  /** Title for `Other Things I've Written` section */
  &__suggested__title {
    @extend .smalltitle;
    margin-bottom: 1rem;
  }

  /** Overrides for the `Other Things I've Written` section */
  .suggested-articles {
    //
  }
}
