.page {
  &__subtitle {
    @extend .lead;
  }
}

.articlelist {
  /** <header> wrapper over "Articles" <h1> header */
  &__header {
    //
  }

  /** <ol> element wrapping over articlelist */
  &__list {
    //
  }

  &__item {
      margin-bottom: 3rem;

      @include media-query-mobile-first(md) {
        margin-bottom: 5rem;
      }
  }

  &__item-date {
    display: block;
  }

  &__item-excerpt {
    @include body-text();

    .articlelist__item--draft & {
      opacity: 0.5;
    }
  }

  &__item-link {
    display: block;

    .articlelist__item--draft & {
      color: var(--color-secondary);
    }
  }

  &__item-meta {
    color: var(--color-text-offset);
    font-size: var(--font-size-lg);
    margin-bottom: 1rem;
  }

  &__item-status {
    color: var(--color-secondary);
    font-weight: 700;
  }

  &__item-tags {
    font-family: $font-family-serif;
    font-size: var(--font-size-sm);
    letter-spacing: var(--letter-spacing-lg);
    text-transform: uppercase;
  }

  &__item-time-to-read {
    //
  }

  &__item-title {
    margin-bottom: 0;
  }
}
