.articlelist {
  /** <header> wrapper over "Articles" <h1> header */
  &__header {
    //
  }

  /** <ol> element wrapping over articlelist */
  &__list {
    //
  }

  &__item {
    margin-bottom: 3em;
  }

  &__item-date {
    display: block;
  }

  &__item-excerpt {
    /** SCSS to select the item-excerpt class only when a child of item--draft class. */
    .articlelist__item--draft & {
      opacity: 0.5;
    }
  }

  &__item-link {
    display: block;
    /** SCSS to select the item-link class only when a child of item--draft class. */
    .articlelist__item--draft & {
      color: var(--color-secondary);
    }
  }

  &__item-meta {
    color: var(--color-text-offset);
    margin-bottom: 1em;
  }

  &__item-status {
    color: var(--color-secondary);
  }

  &__item-tags {
    text-transform: uppercase;
  }

  &__item-time-to-read {
    //
  }

  &__item-title {
    margin-bottom: 0;
  }
}

@include media-query-min-width(md) {
  .articlelist {
    &__item {
      margin-bottom: 5em;
    }
  }
}
