// @TODO: Is this used?

.otherarticles {
  &__item:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &__link {
    color: var(--text-color);
    display: block;
    font-size: var(--font-size-lg);
    padding: 0.25rem 0;

    &--draft {
      color: var(--color-secondary);

      .otherposts__title::after {
        content: '(Draft)';
        padding-left: 0.25em;
      }
    }

    @include media-query-mobile-first(md) {
      align-items: center;
      display: flex;
      font-size: var(--font-size-2xl);

      &:hover .otherposts__title {
        transform: translateX(10px);
      }
    }
  }

  &__title {
    display: block;
    transform: translateX(0);
    transition: all 0.25s ease;
  }

  &__date {
    color: var(--color-text-offset);
    display: block;
    font-size: var(--font-size-sm);
    white-space: nowrap;

    @include media-query-mobile-first(md) {
      flex: 0 0 7.25rem;
      order: -1;
      padding-right: 1rem;
      width: 7.25rem;
    }
  }
}
