{#- Abbreviations to use in Markdown -#}
*[4D QL] 4D Query Language
*[ACL]: Access Control List
*[ADFS]: Active Directory Federation Service
*[AES]: Advanced Encryption System
*[AFAIK]: As far as I Know
*[AI]: Artificial Intelligence
*[ALU]: Arithmetic Logic Units
*[AMA]: Ask Me Anything
*[AMI]: Amazon Machine Image
*[ANN]: Artificial Neural Network
*[API]: Application Programming Interface
*[AP]: Access Point
*[ARN]: Amazon Resource Name
*[ASCII]: American Standard Code for Information Interchange
*[ASG]: Auto Scaling Group
*[ASN]: Autonomous System Number
*[AU]: Activation Unit
*[AVX]: Advanced Vector Extensions
*[AWS]: Amazon Web Services
*[AZ]: Availability Zone
*[Amazon EBS]: Amazon Elastic Block Store
*[Amazon ES]: Amazon Elasticsearch Service
*[Amazon SES]: Amazon Simple Email System
*[B2B]: Business to Business
*[B2C]: Business to Consumer
*[BGP]: Border Gateway Protocol
*[BIOS]: Basic Input Output System
*[BI]: Business Intelligence
*[BPO]: Business Process Outsourcing
*[BYOD]: Bring Your Own Device
*[CAN-SPAM]: Controlling the Assault of Non-Solicited Pornography and Marketing Act
*[CBSP]: Cloud-based Security Providers
*[CDN]: Content Delivery Network
*[CDN]: Point Of Presence of CDN
*[CI/CD]: Continous Integration/Continous Deployment
*[CIDR]: Classless Inter-Domain Routing
*[CLI]: Command Line Interface
*[CMS]: Content Management System
*[CNAME]: Canonical Name
*[CNN]: Convolutional Neural Network
*[CORS]: Cross-Origin Resource Sharing
*[CPC]: Cost Per Click
*[CPL]: Cost Per Lead
*[CPM]: Cost Per Thousand Impressions
*[CRM]: Customer Relationship Management
*[CRO]: Conversion Rate Optimization
*[CR]: Conversion Rate
*[CSP]: Content Security Policy
*[CSRF]: Cross-Site Request Forgery
*[CSS]: Cascading Style Sheets
*[CTA]: Call to Action
*[CTC]: Connectionist Temporal Classification
*[CTR]: Click Through Rate
*[CTS]: Click-Through Rate
*[CVSS]: Common Vulnerability Scoring System
*[CV]: Computer Vision
*[CWE]: Common Weakness Enumeration
*[CX]: Customer Experience
*[D2D]: Device to Device
*[DAST]: Dynamic Application Security Testing
*[DA]: Domain Authority
*[DC]: Data Center
*[DDL]: Data Definition Language
*[DDoS]: Distributed Denial Of Services
*[DES]: Data Encryption Standard
*[DHCP]: Dynamic Host Configuration Protocol
*[DKIM]: Domain Keys Identified Mail
*[DMARC]: Domain-based Message Authentication Reporting and Conformance
*[DMCA]: Digital Millennium Copyright Act
*[DML]: Data Manipulation Language
*[DMS]: Database Migration Service
*[DM]: Direct Message
*[DNSSEC]: Domain Name System Security Extensions
*[DNS]: Domain Name System
*[DOM]: Document Object Model
*[DOS]: Denial of Services
*[DQL]: Data Query Language
*[DRDA]: Distributed Relational Database Architecture
*[DRS]: Distributed Resource Scheduler
*[DSA]: Digital Signature Algorithm
*[DSBS]: Dual Sensor Brake Support
*[DT]: Directory Traversal
*[DVD]: Digital Versatile Disc
*[DW]: Data Warehouse
*[DaaS]: Desktop-as-a-Service
*[EBS]: Elastic Block Store
*[EC2]: Elastic Compute Cloud
*[ECS]: EC2 Container Service
*[EFS]: Elastic File System
*[EIP]: Elastic IP
*[ELB]: Elastic Load Balancer
*[EMR]: Elastic Map Reduce
*[ENI]: Elastic Network Interface
*[EOF]: End Of File
*[EOL]: End Of Life
*[ERP]: Enterprise Resource Planning
*[ESX]: Elastic Sky X
*[FB]: Facebook
*[FIFO]: First In First Out
*[FOMO]: Fear of Missing Out
*[FOSS]: Free and open-source software
*[FTP]: File Transfer Protocol
*[FUD]: Fully Undetectable
*[FaaS]: Function as-a-Service
*[GA]: Google Analytics
*[GCLB]: Google Cloud Load Balancer
*[GCP]: Google Cloud Platform
*[GCS]: Google Cloud Storage
*[GUI]: Graphical User Interface
*[HAC]: High-availability Clusters
*[HAR]: HTTP Archive
*[HA]: High Availability
*[HITS]: Hyperlink-Induced Topic Search
*[HMD]: Head Mounted Displays
*[HP CSA]: HP Cloud Service Automation
*[HPC]: High-Performance Compute
*[HTML]: Hyper Text Markup Language
*[HTML]: Hypertext Markup Language
*[HTTPS]: HyperText Transport Protocol Secure
*[HTTP]: HyperText Transport Protocol
*[HVM]: Hardware Virtual Machine
*[I/0]: Input & Output
*[IAM]: Identity & Access Management
*[ICMP]: Internet Control Message Protocol
*[IDE]: Integrated Development Environment
*[IE]: Internet Explorer
*[IFTTT]: If This Then That
*[IG]: Internet Gateway
*[IMAP]: Internet Message Access Protocol
*[IMS]: Intelligent Maintenance Systems
*[IOPS]: Input/output Operations Per Second
*[IO]: Insertion Order
*[IPSec]: Internet Protocol Security
*[IP]: Internet Protocol
*[ISP]: Internet Service Provider
*[IT]: Information Technology
*[IaaS]: Infrastructure-as-a-Service
*[IoT]: Internet Of Things
*[JCE]: Java Cryptography Extension
*[JDK]: Java Development Kit
*[JSON]: JavaScript Object Notation
*[JS]: JavaScript
*[Java EE]: Java, Enterprise Edition
*[KMS]: Key Management Service
*[KVM]: Kernel-based Virtual Machine
*[LAN]: Local Area Network
*[LB]: Load Balancer
*[LFI]: Local File Inclusion
*[LLT]: Low Latency Transport
*[LNN]: Learning Neural Networks
*[LSI]: Latent Semantic Indexing
*[LSTM]: Long Short-term Memory
*[M2M]: Machine to Machine
*[MAC]: Media Access Control
*[MFA]: Multi-Factor Authentication
*[MIME]: Multipurpose Internet Mail Extensions
*[MITM]: Man in the Middle Attack
*[MI]: Machine Intelligence
*[ML]: Machine Learning
*[MPLS]: Multi-Protocol Label Switching
*[MPP]: Massive Parallel Processing
*[MSTSC]: Microsoft Terminal Service Client
*[MX]: Mail Exchange
*[NACK]: Negative ACKnowledgement
*[NAT]: Network Address Translation
*[NDA]: Nondisclosure Agreement
*[NFS]: Network File System
*[NIC]: Network Interface Card
*[NI]: Natural Intelligence
*[NLNN]: Non-Learning Neural Networks
*[NLP]: Natural Language Processing
*[NLU]: Natural Language Understanding
*[NPS]: Net Promoter Score
*[NS]: Name Server
*[OLAP]: Online Analytical Processing
*[OLA]: Operational-level Agreement
*[OLTP]: Online Transaction Processing
*[OSCI]: OS Command Injection
*[OSS]: Open Source Software
*[OS]: Operating System
*[OWASP]: Open Web Application Security Project
*[P2V]: Physical to Virtual
*[PBN]: Private Blog Network
*[PCI DSS]: Payment Card Industry Data Security Standard
*[PDF]: Portable Document Format
*[PHP]: Hypertext Preprocessor
*[PM]: Private Message
*[POP]: Post Office Protocol
*[PPC]: Pay Per Click
*[PPTP]: Point-to-Point Tunneling Protocol
*[PR]: PageRank
*[PSU]: Power Supply Unit
*[PT]: Path Traversal
*[PaaS]: Platform-as-a-Service
*[QDD]: Query Deserves Diversity
*[QDF]: Query Deserves Freshness
*[QEMU]: Quick Emulator
*[QUIC]: Quick UDP Internet Connections
*[QoS]: Quality of Service
*[RAD]: Rapid Application Development
*[RAID]: Redundant Array of Independent Disk
*[RAM]: Random-access Memory
*[RAT]: Remote Administration Tool
*[RDP]: Remote Desktop Protocol
*[RDSMS]: Relational Data Stream Management System
*[RFI]: Remote File Inclusion
*[RISC]: Reduced Instruction Set Computer
*[RL]: Reinforcement Learning
*[RNN]: Recurrent Neural Network
*[ROI]: Return on Investment
*[ROM]: Read Only Memory
*[RPA]: Robotic Process Automation
*[RRS]: Reduced Redundancy Storage
*[RSS]: Really Simple Syndication
*[RUM]: Real-user Measurement
*[S3 IA]: S3 Infrequent Access
*[S3]: Simple Storage System
*[SAML]: Security Assertion Markup Language
*[SAN]: Storage Area Network
*[SAST]: Static Application Security Testing
*[SCD]: Source Code Disclosure
*[SCM]: Search Content Marketing
*[SC]: Supplementary Content
*[SDK]: Software Development Kit
*[SEA]: Search Engine Advertising
*[SEM]: Search Engine Marketing
*[SEO]: Search Engine Optimization
*[SERM]: Search Engine Reputation Management
*[SERP]: Search Engine Results Page
*[SE]: Social Engineering
*[SFTP]: SSH File Transfer Protocol
*[SKid]: Script Kiddie
*[SLA]: Service Level Agreement
*[SMM]: Social Media Marketing
*[SMO]: Social Media Optimization
*[SMP]: Social Media Platform
*[SMTP]: Simple Mail Transfer Protocol
*[SM]: Social Media
*[SNS]: Simple Notification Service
*[SOAP]: Simple Object Access Protocol
*[SOA]: Start of Authority
*[SPF]: Sender Policy Framework
*[SQL]: Structured Query Language
*[SQLi]: SQL Injection
*[SQS]: Simple Queue Service
*[SR]: Speech Recognition
*[SSD]: Solid-state Drive
*[SSE]: Server Side Encryption
*[SSH]: Secure Shell
*[SSL]: Secure Socket Layer
*[SSO]: Single Sign-On
*[STS]: Security Token Service
*[SVG]: Scalable Vector Graphics
*[SWS]: Simple Workflow Service
*[SaaS]: Software-as-a-Service
*[TCP]: Transmission Control Protocol
*[TLD]: Top-level domain
*[TLS]: Transport Layer Security
*[TPM]: Trusted Platform Module
*[TPS]: Transaction Per Second
*[TPU]: Tensor Processing Unit
*[TTF]: TrueType Font
*[TTL]: Time To Live
*[TTY]: Teletype
*[ToS]: Terms of Service
*[UA]: Universal Analytics
*[UDP]: User Datagram Protocol
*[UI/UX]: User Interface/User Experience
*[UPS]: Uninterruptible Power Supply
*[URI]: Uniform Resource Identifier
*[URL]: Uniform Resource Locator
*[VBS]: Visual Basic Script
*[VCS]: Veritas Cluster Server
*[VCS]: Version Control Systems
*[VDI]: Virtual Desktop Infrastructure
*[VG]: Volume Group
*[VIP]: Virtual IP
*[VLAN]: Virtual Local Area Network
*[VM]: Virtual Machine
*[VPC]: Virtual Private Cloud
*[VPG]: Virtual Private Gateway
*[VPN]: Virtual Private Network
*[VPS]: Virtual Private Server
*[VSM]: Virtual Supervisor Module
*[VTL]: Virtual Tape Library
*[VXLAN]: Virtual Extensible Local Area Network
*[W3C]: World Wide Web Consortium
*[WAF]: Web Application Firewall
*[WAN]: Wide Area Network
*[WAP]: Web Application Protection
*[WINS]: Windows Internet Name Service
*[WLAN]: Wireless Local Area Network
*[WMI]: Windows Management Instrumentation
*[WPAN]: Wireless Personal Area Network
*[WP]: WordPress
*[WWW]: World Wide Web
*[WYSIWYG]: What You See Is What You Get
*[XHTML]: Extensible Hypertext Markup Language
*[XML]: Extensible Markup Language
*[XSD]: XML Schema Definition
*[XSS]: Cross-site Scripting
*[ZMOT]: Zero Moment of Truth
*[iSCSI]: Internet Small Computer Storage Interface