{#- Brand identity with logo and wordmark -#}
<a class="brand__anchor" href="/" rel="home" aria-label="Go To Homepage">
  <span class="brand__logo">{% include '../images/logo.svg' %}</span>
  <span class="brand__wordmark">
    <span class="brand__wordmark-webstack">
      {% include '../images/wordmark-webstack.svg' %}
    </span>
    <span class="brand__wordmark-builders">
      {% include '../images/wordmark-builders.svg' %}
    </span>
  </span>
</a>