<div id="cookie-banner-id" class="cookie-banner js-cookie-banner" style="opacity: 1; display: block;">
  {# event.preventDefault() to prevent navigating away from here #}
  <a href="#" class="cbtn btn_close_ck closecookiewebinar desk_button">
    {% icon "close" %}
  </a>
  <div class="col-sm-12">
    <p>
      This site use cookies. Learn more in our <a href="/cookies">Cookies Policy</a> and <a href="/privacy">Privacy Policy</a>. @TODO: One cookie is mandatory for this site to work (theme settings and your cookie privacy customizations).
    </p>
  </div>

  <div class="col-sm-2">
    <button class="cookie-btn cookie-allow-btn">Allow All</button>
    <button class="cookie-btn cookie-customize-btn">Customize Settings</button>
  </div>

  {% include "../../assets/images/site/cookie.svg" %}
</div>
