{# Hidden modal shown when theme picker icon selected #}
{% include "./themepicker.njk" %}
<header class="header" role="banner">
  {# Branding #}
  <span class="header__brand">
    <a class="header__brand-anchor" href="/" rel="home" aria-label="Go To Homepage">
      {% include '../images/logo.njk' %}
      <span class="header__brand-name">{{ site.organization }}</span>
    </a>
  </span>
  {# Theme picker icon #}
  <span class="header__themepicker-icon">
    {% include "./themepickerIcon.njk" %}
  </span>
  {# Navigation #}
  <span class="header__main-nav">
    {% include "./navigation.njk" %}
  </span>
</header>