---
navigationOptions:
  #
  # Menu list wrapper
  #
  # Change the top level tag
  listElement: "ul",
  # Add a class to the top level tag
  listClass: "nav__menu js-nav-menu",

  #
  # Menu list item
  #
  # Change the menu list item tag
  listItemElement: "li",
  # Add a class to every menu list item
  listItemClass: "nav__item",
  # Add a class to the menu list item if the item has children
  listItemHasChildrenClass: "",
  # Add a class to the anchor within the menu list item tag
  anchorClass: "nav__link",

  #
  # Active item handling
  #
  # If matched, `activeListItemClass` and `activeAnchorClass` will be added
  activeKey: eleventyNavigation.key
  # Add a class to the current page menu list item
  activeListItemClass: "nav__item--active",
  # Add a class to the current page menu list anchor
  activeAnchorClass: "nav__link--active",

  #
  # Other options
  #
  # Show excerpts if they have been added in Navigation Plugin frontmatter metadata
  showExcerpt: false
---
<nav class="nav js-nav" role="navigation" tabindex="-1">
  {#- Menu Toggle Button #}
  <button
    class="icon-btn nav__togglebtn js-nav-toggle"
    aria-expanded="false"
    aria-controls="nav-menu"
    aria-label="toggle menu"
  >
    <span class="menuicon">
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
    </span>
  </button>
  {#- Nav Links  #}
  <div class="nav__content">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
  </div>
  {#- Menu BG Animation #}
  <div class="nav__bg">
      <div class="nav__bg__circle"></div>
  </div>
</nav>