<nav class="main-nav" role="navigation">
  {#- Nav Links  #}
  <div class="main-nav__content">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}
  </div>
  {#- Menu Toggle Button #}
  <button
    class="icon-btn main-nav__toggleBtn"
    aria-expanded="false"
    aria-controls="nav-menu"
    aria-label="toggle menu"
  >
    <span class="main-nav__menu-icon">
      <span class="main-nav__menuicon-bar"></span>
      <span class="main-nav__menuicon-bar"></span>
      <span class="main-nav__menuicon-bar"></span>
      <span class="main-nav__menuicon-bar"></span>
    </span>
  </button>
  {#- Menu BG Animation #}
  <div class="main-nav__bg">
      <div class="main-nav__bg-circle"></div>
  </div>
</nav>