<button
  class="icon-btn themepicker-icon__toggle-btn js-themepicker-toggle"
  aria-expanded="false"
  aria-controls="theme-menu"
>
  <span class="sr-only">Toggle theme switcher</span>
  {% icon "theme" %}
</button>