<div id="cookie-banner-id" class="cookie-banner js-cookie-banner">
  <p>
    This site use 🍪cookies. Read more in <a href="/cookies-policy/">Cookies Policy</a>.
  </p>
  <button class="cookie-btn">Ok!</button>
</div>

{# @TODO: see delayer.njk component, change 'src' to 'delay' here to use. #}
<script src="cookie.js" async></script>
