{# Favicon sized for use in browser tabs #}
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png?v=1' | url }}" sizes="16x16">

{# Favicon sized for taskbar shortcut icons #}
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png?v=1' | url }}" sizes="32x32">

{# Favicon used by iOS when someone bookmarks your web page or adds your web page to their home screen #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png?v=1' | url }}">

{# Favicon for Safari pinned icons #}
<link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg?v=1' | url }}" color="#1a1a1a">
