{#- Sans serif font family "Onest Regular" -#}
<link
  rel="preload"
  href="/fonts/OnestRegular1602-hint.woff2"
  as="font"
  type="font/woff2"
  crossorigin
>
{#- Serif font family "Lora Regular" -#}
<link
  rel="preload"
  href="/fonts/Lora-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
>
{#- Monospace font family "IBM Plex Mono Regular" -#}
<link
  rel="preload"
  href="/fonts/IBMPlexMono-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
>