{#- Facebook share metadata -#}
<meta name="og:title" content="{% pageTitle pageTitle=this.page.title %}" />
<meta name="og:description" content="{% pageDescription pageDescription=this.page.description %}" />
<meta property="og:image" content="{% pageSocialImg slug=this.page.fileSlug %}" />
{#- Twitter share metadata #}
<meta name="twitter:card" content="summary_large_image" />
{%- if meta.twitterUsername -%}
<meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
{%- endif -%}

