{#- Facebook share metadata -#}
{%- if image -%}
<meta name="image" content="{{ pageUrl }}{{ image }}">
{%- endif -%}
<meta property="og:image" content="{% pageSocialImg fileSlug %}" />
{#- Twitter share metadata #}
<meta name="twitter:card" content="{% if isPost -%}summary_large_image{% else %}summary{% endif %}" />
{%- if author.social.twitter.name -%}
<meta name="twitter:site" content="@{{ author.social.twitter.url }}">
{%- endif -%}
{%- if meta.twitterUsername -%}
<meta name="twitter:creator" content="@{{ author.social.twitter.name }}" />
{%- endif -%}

